{% load i18n %}

{% trans {{ flight.first_name }} " need your help!" %}


<p>{% trans "Hi there," %}</p>

<p>
{% blocktrans %}
You have gotten this email because {{ flight.first_name }} set up an automatic warning if we couldn’t communicate for 3 hours after the flight {{ flight.first_name }} was on landed. The flight number is {{ flight.code }} and it departed {{ flight.destination }} on {{ flight.updated_at }}. Odds are {{ flight.first_name }} is stuck at the US border.
{% endblocktrans %}
</p>

<p>
{% blocktrans %}
Please try to contact {{ flight.first_name }} before anything else. If you choose to seek legal counsel, the ACLU is a good place to start. Hopefully this will get sorted out shortly.
{% endblocktrans %}
</p>

<p>{% trans "Good luck." %}</p>